body {
  margin: 0;
}
div {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

.background--color {
  background-color: color-mix(in lch, red, lime);
}

.accent--color {
  accent-color: cornflowerblue;
}

.contrast--color {
  color: black;
  background-color: color-contrast(black vs, lightblue, lime, blue);
}

.in {
  background-color: tomato;
}
.in:has(span) {
  background-color: pink;
}

.grid {
  display: grid;
  max-width: 80rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 1.5rem;
}
